DISCORD_APPLICATION_ID=
DISCORD_BOT_TOKEN=
DISCORD_PUBLIC_KEY=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

GUILD_ID=
LOG_CHANNEL_ID=
START_CHANNEL_ID=
STATS_CHANNEL_ID=

TIMEZONE=Europe/Istanbul
PORT=3000
